body{
    background-color: black;
}
.minicikkutucuk{width:500px; height:30px; background-color:rgb(215, 217, 219); 
    border:1px solid #e2e2e2;
    font:bold 14px tahoma;
} 
.btn{
    padding: 5px 20px;
    border-radius: 25px;
    color: black;
}
.gradient{
    background: linear-gradient(90deg,rgba(255, 251, 251, 0.986),rgba(255, 255, 255, 0.986));
}
